:root {
    --primary-color: #e4e6f3;
    --seconday-color: #064851;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--seconday-color);
}

.main-header {
    display: flex;
    justify-content: center;
    background-color: var(--seconday-color);
    color: var(--primary-color); 
    flex-wrap: wrap;
}

.main-header > img{
    height: 80px;
    width: auto;
    align-self: center;
}

nav {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    max-width: 1920px;
    margin: 0 auto; 
}

h1 {
    color: var(--primary-color);   
    font-size: 40px;
    padding-left: 32px;
}

.button {
    display: inline-block;
    flex-wrap: wrap;
    border:none;
    font-size: 24px; 
    margin: 16px;
    text-decoration: none;
    background-color: var(--seconday-color);
    color: var(--primary-color); 
    transition: ease-out 0.5s;
}

.button:hover {
    background-color: var(--primary-color);
    color: var(--seconday-color);
}

#about-me,#work,#contact{
    display: flex;
}

#about-me > h2,#work > h2,#contact > h2{
    width: 20%;
    text-align: right;
    padding: 16px;
    font-size: 32px;
    color:var(--seconday-color);
    border-right: 4px solid var(--seconday-color);
}

#contact ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.right-side{
    width: 80%;
    padding:16px;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .main.header {
        flex-direction: column;
        align-items: center;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    #about-me,#work,#contact{
        display: flex;
        flex-direction: column;
    }
    #about-me > h2,#work > h2,#contact > h2{
        text-align: center;
        width: 100%;
        padding: 16px;
        font-size: 32px;
        color:var(--primary-color);
        background-color: var(--seconday-color);
    }
    .right-side{
        width: 100%;
        padding:16px;
        text-align: center;
    }
    }